    $active-status-color: var(--ion-color-active-status);
    $border-color: rgba(var(--ion-color-nfont1-rgb), 0.3);
    $link-color: var(--ion-color-nlink);
    $nbg1-color: var(--ion-color-nbg1);
   
    .selectedCheck {
      color: $active-status-color;
      font-size: 22px;
      margin: 0 1px;
    }
  
    .border-bottom {
      border-bottom: 0.5px solid $border-color;
    }
  
    .thumb {
      border-radius: 17px;
    }
  
    .text-slot {
      color: $link-color;
      font-weight: bold;
      letter-spacing: 1px;
      display:contents;
    }
  
    .div-icon {
      width: 22px;
      height: 22.5px;
      bottom: 1px;
      left: 9px;
      position: absolute;
      background-color: $nbg1-color;
      border-radius: 100%;
    }
  
    ion-toolbar {
      --ion-background-color: #f8f8f8;
      --ion-text-color: black;
      }
      