$border-color: rgba(var(--ion-color-nfont1-rgb), 0.3);
$light-color: var(--ion-color-light);
$color-primary: var(--ion-color-primary);
$color-primary-rgb: var(--ion-color-primary-rgb);
$color-secondary: rgba(var(--ion-color-primary-rgb), 0.6);
$color-secondary: rgba(var(--ion-color-primary-rgb), 0.8);
$color-nfont: var(--ion-color-nfont);
$tabBack-color: var(--ion-color-nbg3);
$tabBack-color-rgb: var(--ion-color-nbg3-rgb);
$color-danger: var(--ion-color-danger);

$color-nbg3: var(--ion-color-nbg3);
$color-nbg3-rgb: var(--ion-color-nbg3-rgb);

ion-toolbar {
  --ion-background-color: transparent;
}

.scroll-content {
  padding-top: 0px !important;
}

.card {
  height: 100%;
  justify-content: center;
}

.empty-box {
  padding-top: 42px;
  height: 90px;
}

.box {
  width: 78px;
  height: 78px;
}

.box-bg {
  margin: auto;
  background-color: rgba($color-primary-rgb, 0.25);
  border-radius: 50%;
}

.img-preview {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100%;
}

.title {
  margin-top: 44px;
  font-size: 24px;
  color: $color-nfont;
  font-weight: 400;
  padding-bottom: 7px;
}

.subtitle {
  font-size: 14px;
  color: $color-nfont;
  font-weight: 100;
}

.border-right {
  border-right: 1px solid $color-nfont;
  padding-right: 7px !important;
}

.border-left {
  border-left: 1px solid $color-nfont;
  padding-left: 7px !important;
}

.info-tab {
  margin-top: 5px;
  background-color: rgba($tabBack-color-rgb, 0.34);
  color: $color-nfont;
  font-size: 17px;
  font-weight: 300;
}

.info-tab-text {
  display: inline-block;
  line-height: 2;
}

.info-row {
  border-bottom: 1px solid $border-color;
}

.edit-icon {
  font-size: 27px;
  padding: 2px 5px;
}

.text {
  /* color: $color-nfont; */
  font-weight: 100;
  word-break: break-word;
}

.text-bold {
  font-weight: 600 !important;
}

.margin-vertical {
  margin-top: 12px;
  margin-bottom: 12px;
  margin-right: 16px;
}

.color-danger {
  color: $color-danger;
}

.bg3 {

  background: linear-gradient(to right bottom, rgba(var(--ion-color-nbg1-rgb), 0.8) 20%, rgba(var(--ion-color-primary-rgb), .65) 100%) ,url('../../../assets/imgs/HeatherWax_Splash_1.jpg') bottom no-repeat;

 // --background: linear-gradient(to right bottom, rgba(var(--ion-color-nbg3-rgb), 0.8) 20%, rgba(var(--ion-color-primary-rgb), .65) 100%) ,url('../../../assets/imgs/HeatherWax_Splash_1.jpg') bottom no-repeat;

  background-size: cover;
  background-position: top;
}

ion-toolbar {
  --ion-background-color: transparent;
  --ion-background: linear-gradient(to right bottom, rgba(var(--ion-color-nbg1-rgb), 0.8) 20%, rgba(var(--ion-color-primary-rgb), .65) 100%) ;

}

.ion-label
{
  color:#999;
}