<ion-header>
  <ion-toolbar>
    <ion-icon slot="start" name="arrow-round-back" (click)="goToBackUrl()" style="font-size: x-large;"></ion-icon>
    <ion-title>
      {{ label.title }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p class="ion-text-justify" [innerHTML]="userData"></p>
</ion-content>