<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ label.title }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <form [formGroup]="bookingForm" (ngSubmit)="onSubmit()">
      <ion-row class="list-header">
        <ion-col>
          {{ label.subtitle1 | uppercase }}
        </ion-col>
      </ion-row>

      <div
        class="border-bottom padding-right"
        margin-left
        (click)="showServices($event)"
      >
        <div>
          <ion-label position="stacked">
            {{ label.service | uppercase }} <sup>*</sup></ion-label
          >
        </div>
        <div class="value-data">
          <div *ngIf="!this.bookingForm.controls['serviceName'].value">
            {{ label.serviceEmpty | uppercase }}
          </div>
          {{ this.bookingForm.controls['serviceName'].value }}
        </div>
      </div>

      <ion-item lines="none" class="therapistItem" (click)="showTherapist($event)">
        <ion-label position="stacked"
          >{{ label.therapist | uppercase }}<sup>*</sup></ion-label
        >
      </ion-item>

      <ion-list
        class="listTherapist"
        *ngIf="!selectedTherapist.employee_name"
        (click)="showWarning()"
      >
        <app-empty templateType="list" componentName="therapist"></app-empty>
      </ion-list>

      <ion-list
        *ngIf="selectedTherapist.employee_name"
        (click)="showTherapist($event)"
      >
        <ion-item>
          <ion-avatar class="avatar-img" slot="start">
            <img [src]="selectedTherapist.employee_photo" />
          </ion-avatar>
          <div>
            <h2 class="name-color">{{ selectedTherapist.employee_name }}</h2>
            <p>{{ selectedTherapist.employee_notes }}</p>
          </div>
          <ion-note slot="end" (click)="showProfile($event, selectedTherapist)">
            {{ label.view }}
          </ion-note>
        </ion-item>
      </ion-list>

      <div class="border-bottom padding-right" margin-left>
        <div>
          <ion-label position="stacked">
            {{ label.date | uppercase }} <sup>*</sup>
          </ion-label>
        </div>
        <app-date [config]="calendarConfig"></app-date>
      </div>

      <div
        class="border-bottom padding-right"
        margin-left
        (click)="showTimeSlots($event)"
      >
        <div>
          <ion-icon
            color="nlink"
            class="rightIcon ion-float-right"
            name="md-timer"
            
          ></ion-icon>
          <ion-label position="stacked">
            {{ label.time | uppercase }} <sup>*</sup>
          </ion-label>
        </div>
        <div class="value-data">
          <div *ngIf="!this.bookingForm.controls['booking_start_time'].value">
            {{ label.timeEmpty | uppercase }}
          </div>
          {{ this.bookingForm.controls['booking_start_time'].value }}
        </div>
      </div>

      <div class="border-bottom padding-right" margin-left>
        <div>
          <ion-label position="stacked">
            {{ label.cost | uppercase }} <sup>*</sup></ion-label
          >
        </div>
        <div class="value-data">
          {{ config.currency_symbol }}
          {{ this.bookingForm.controls['booking_total'].value }}
        </div>
      </div>

      <ion-item>
        <ion-label position="stacked"> {{ label.note | uppercase }}</ion-label>
        <ion-input
          formControlName="booking_notw"
          [placeholder]="label.note"
        ></ion-input>
      </ion-item>

      <!-- <ion-row class="list-header">
        <ion-col class="col-left">
          {{ label.patient | uppercase }}
        </ion-col>
       col-xs-8 col-sm-8 col-md-6 col-lg-8 col-xl-8
        <ion-col col-xs-4 col-sm-4 col-md-6 col-lg-4 col-xl-4 text-right>
          <ion-item no-lines>
            <ion-label class="font-label">
              {{ label.bookOther | uppercase }}
            </ion-label>
            <ion-checkbox
              checked="false"
              (ionChange)="changeAutoFill()"
            ></ion-checkbox>
          </ion-item>
        </ion-col>
      </ion-row> -->

      <!-- <div class="border-bottom padding-right" margin-left>
        <div>
          <ion-label stacked>
            {{ label.name | uppercase }} <sup>*</sup>
          </ion-label>
        </div>
        <div class="value-data">
          {{ this.bookingForm.controls['cnaame'].value }}
        </div>
      </div> -->

      <!-- <ion-item>
        <ion-label stacked>{{ label.name | uppercase }} <sup>*</sup></ion-label>
        <ion-input
          formControlName="cnaame"
          [placeholder]="label.name"
        ></ion-input>
      </ion-item> -->

      <!-- <ion-item>
        <ion-label stacked
          >{{ label.email | uppercase }} <sup>*</sup></ion-label
        >
        <ion-input
          type="email"
          formControlName="cemail"
          [placeholder]="label.email"
        ></ion-input>
      </ion-item> -->

      <!-- <div class="border-bottom padding-right" margin-left>
        <div>
          <ion-label stacked>
            {{ label.email | uppercase }} <sup>*</sup>
          </ion-label>
        </div>
        <div class="value-data">
          {{ this.bookingForm.controls['cemail'].value }}
        </div>
      </div>

      <ion-item>
        <ion-label stacked>
          {{ label.phoneNumber | uppercase }} <sup>*</sup>
        </ion-label>
        <ion-input
          type="number"
          formControlName="cphone_no"
          [placeholder]="label.phoneNumber"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>
          {{ label.address | uppercase }} <sup>*</sup>
        </ion-label>
        <ion-input
          formControlName="caddress"
          [placeholder]="label.address"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>{{ label.town | uppercase }} <sup>*</sup></ion-label>
        <ion-input
          formControlName="ccity"
          [placeholder]="label.town"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>
          {{ label.postCode | uppercase }} <sup>*</sup>
        </ion-label>
        <ion-input
          formControlName="czip"
          [placeholder]="label.postCode"
        ></ion-input>
      </ion-item>
-->
      <ion-item no-lines class="ion-text-center">
        <ion-row class="ion-padding">
          <ion-col>
          <ion-button
            class="btn-login"
            type="submit"
            expand="block"
            color="primary"
          >
            {{ label.submitBtn | uppercase }}
          </ion-button>
        </ion-col>
        </ion-row>
      </ion-item>
    </form>
  </ion-list>
</ion-content>
